!!!
%html
  %head
    %title a flyingurl shortener
  %body
    #main
      %img{:src => 'http://cdn.flyingoctopus.net/images/flyingoctopus_icons/flyingoctopus.png'}
      %h1 vvh.io: a url shortener

      %form
        %input
        %button shorten


    %script{:type => "text/javascript",
            :src  => "vvh.js"} 
